<section class="hero">
  <div class="hero-body">
  <p class="title">About Us</p>
  <p class="subtitle">Informed Food Decisions</p>
  </div>
</section>
<section class="section">
  <div class="content">
    <p>Thrifty Shopper is here to make your life easier. Have you ever wondered
    if a sale price is <em>really a deal?</em> Well so have we. We help
    consumers make informed decisions on food purchases by comparing like
    products from different manufactureres and grocers. You can even help! By
    adding prices of products you purchase yourself, you help others get a real
    life example of what to expect. This is the food price insight we can all
    use right now.</p>
    <p>Go ahead, add a price today!</p>
  </div>
</section>