<%# barcode scanner include %>
<script src="https://cdn.jsdelivr.net/npm/quagga@0.12.1/dist/quagga.min.js" integrity="sha256-JDVyLQRqvRSTL/6WaPud93JXpfEdW11zwjqhoNgkGXc=" crossorigin="anonymous"></script>

<div class="hero">
  <div class="hero-body has-text-centered">
    <h1 class="title">What's The Market&nbsp;Price?</h1>

    <%= form_with url: search_path, name: 'search_form', class: 'field is-grouped' do |f| %>
      <%= f.search_field :query, { placeholder: 'UPC/PLU/Name', class: 'input is-medium m-2' }%>
      <%= f.submit 'Search', class: 'button is-link is-medium m-2' %>
    <% end %>

  </div>
</div>
<section>
  <div class="buttons is-centered">
    <button id='scan' class="button is-primary is-centered is-large is-hidden-desktop is-hidden-widescreen">Scan UPC</button>
  </div>
  <div id="interactive" class="viewport"></div>
</section>

<script>
var btn = document.getElementById("scan")
btn.addEventListener('click', barcodeStartScan)
function throttle(callback, limit) {
  var waiting = false;
  return function () {
    if (!waiting) {
      callback.apply(this, arguments)
      waiting = true
      setTimeout(function () {
        waiting = false;
      }, limit);
    }
  }
}
function loadProductPage(result){
  console.log(result.codeResult.code)
  qry = document.getElementById('query')
  qry.value = result.codeResult.code
  
  frm = document.getElementsByTagName('form')[0]
  frm.submit()
  
}
function barcodeStartScan(){ 
  Quagga.init(
    {
      inputStream: {
        type: "LiveStream",
        constraints: {
          width: 640,
          height: 480,
          facingMode: "environment" // or user
        }
      },
      locator: {
        patchSize: "medium",
        halfSample: true
      },
      numOfWorkers: 4,
      decoder: {
        readers: ["upc_reader"]
      },
      locate: true
    },
    function (err) {
      if (err) {
        return console.log(err);
      }
      console.log('Quagga start')
      Quagga.start();
    }
  );
  console.log('load ondetected?')
  Quagga.onDetected(throttle(loadProductPage, 250));
};
</script>
