<%# barcode scanner include %>
<script src="https://cdn.jsdelivr.net/npm/quagga@0.12.1/dist/quagga.min.js" integrity="sha256-JDVyLQRqvRSTL/6WaPud93JXpfEdW11zwjqhoNgkGXc=" crossorigin="anonymous"></script>

<div class="hero">
  <div class="hero-body has-text-centered">
    <h1 class="title">What's The Market&nbsp;Price?</h1>

    <%= form_with url: search_path, name: 'search_form', class: 'field is-grouped' do |f| %>
      <%= f.search_field :query, { placeholder: 'UPC/PLU/Name', class: 'input is-medium m-2', autofocus: 'autofocus' }%>
      <%= f.submit 'Search', class: 'button is-link is-medium m-2' %>
    <% end %>

  </div>
</div>
<section>
  <div class="buttons is-centered">
    <button id='scan' class="js-modal-trigger button is-primary is-centered 
      is-large is-hidden-desktop is-hidden-widescreen" data-target="scanner">Scan UPC</button>
  </div>
</section>
<div id="scanner" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Scan UPC</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div id="interactive" class="viewport">
      <video class="videoCamera" autoplay="true" preload="auto" src="" muted="true"
             playsinline="true"></video>
      <canvas style="display:none"class="drawingBuffer"></canvas>
      </div>
    </section>
  </div>
</div>

<%# barcode scanner button & modal set up %>
<%= javascript_pack_tag 'scanner', 'data-turbolinks-track': 'reload' %>
