<section class="section">
  <div class="container is-max-desktop">
    <div class="content">
      <h1 class="title">Editing Product</h1>

      <%= render 'form', product: @product %>
    </div>
  </div>
</section>

